<section id="about-us">
    <div class="about-us-header">
      <h2>About Us</h2>
    </div>
    <div class="about-us-content">
      <div class="about-us-image">
        <img src="https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80.jpg" alt="about-us-image">
      </div>
      <div class="about-us-description">
        <p>Johnson CONTROLS Restuarant where you need not to CONTROL your hunger because we serve Tasty as well as Healthy .</p>
        <p>Our commitment to quality extends beyond the kitchen. We take pride in offering exceptional service to every guest who walks through our doors. Whether you are joining us for a quick lunch or a romantic dinner, our staff will make you feel right at home.</p>
      </div>
    </div>
    <div class="our-story">
      <div class="ab">
      <div class="our-story-header" >
        <h2>Our Story</h2>
      </div>
      <div class="our-story-content">
        <!-- <h2>Our Story</h2> -->
        <p>Founded in 1999 by chef John Smith, Brown Sugar has quickly become one of the most popular restaurants in the city. Chef Smith's passion for cooking and dedication to quality has earned him numerous accolades, including a Michelin star.</p>
        <p>At Brown Sugar, we believe in giving back to the community. That's why we donate a portion of our profits to local charities and organizations that support healthy living and sustainable agriculture.</p>
      </div>
      </div>
    </div>
  </section>
  