<div id="container" class="container">
    <h1>Contact Us</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/res.jpg" class="card-img-top" alt="Contact Image">
          <div class="card-body">
            <h5 class="card-title">Our Address</h5>
            <p class="card-text">Commerzone IT Park, Yerawada,Pune</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/res.jpg" class="card-img-top" alt="Contact Image">
          <div class="card-body">
            <h5 class="card-title">Phone Number</h5>
            <p class="card-text">97725*****</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/res.jpg" class="card-img-top" alt="Contact Image">
          <div class="card-body">
            <h5 class="card-title">Email Address</h5>
            <p class="card-text">JCI@restaurant.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  